* {
	box-sizing: border-box;
}


#regForm {
	margin: 100px auto;
	font-family: sans-serif;
	padding: 40px;
	width: 60%;
	min-width: 300px;
	margin-top:5px;
}

h1 {
	text-align: center;
}

input {
	width: 100%;
    font-size: 20px;
    margin: 15px;
    border: solid 2px;
    padding: 15px;
    border-radius: 3px;
    background-color:lightblue;
    
}

/* Hide all steps by default: */
.tab {
	display: none;
}

button {
	     font-size: 20px;
    background-color: rgb(59, 139, 237);
    border-radius: 4px;
    border-color: rgb(59, 139, 237);
    float: right;
    color: white;
    cursor: pointer;
    width: 115px;
    height: 49px;
    font-weight:bold;
    margin-left: 3%;
}



body {
    font-family: sans-serif;
    width: auto;
}

/* Make circles that indicate the steps of the form: */
.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}

.step.active {
	opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
	background-color: lightblue;
}



body a {
    text-decoration: none;
    color: black;
}



label {
    font-size: 20px;
    padding: 5px;
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
    font-size: 30px;

}


.continue {
    text-decoration: none !important;
    color: white !important;
}
.log{
    font-size: 15px;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
.content{
margin-top:20px;
}
#con{
	color:blue;
	font-size:20px;
	font-weight:bold;
	text-align:left;
	
}