@import url("../header.css");

main {
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 25px;
    padding: 10px;
}

form input {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding: 15px;
    margin-top: 5px;
    text-align: center;
    background-color: lightblue;

}

main aside  {
    width: 21em;
    float: right;
}

#main_table {
    width: 500px;
    text-align: center;
    font-size: 17px;
    background-color: wheat;
    align-items: center;
    margin-top: 50px;

}

.date {
    width: 13.6em;
    text-align: center;
}

.tb1 {
    background-color: darkblue !important;
    color: white;
}

#main_table td {
    background-color: white;
}


.tb1 {
    background-color: darkblue;
    color: white;
}

#main_table td {
    text-align: center;
    background-color: white;
    color: black;
    height: 4.5em;

}

#main_table th{
    height: 3.5em;
    width: 0%;
}
.bill-container {
    max-width: 333px !important;
}
.button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
    cursor: pointer;
  }
  
  button:hover {
    color: #000000;
    transform: scale(1.1);
    outline: 2px solid  lightblue;
    box-shadow: 4px 5px 17px -4px rgb(7, 124, 163);
  }
  
  button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: lightblue;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  button:hover::before {
    width: 250%;
  }
  

