@import url("../header.css");


#cus_form, #payment {
	background-color: #fff;
	padding: 20px;
	margin: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lists {
	margin: 5px 0;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 102%;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

#top {
	display: flex;
	justify-content: space-between;
}

h2, h1 {
	margin: 0;
}

#btn {
	    background-color: lightblue;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30%;
    width: 57%;
    font-size: 26px;
    height: 28%;;
}

#btn:hover {
	background-color: darkblue;
	color:white;
}

#customer {
	    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 23px;
    margin-right: 1%;
}
#customer div{
	margin-left:2%;
}

#customer input {
	width: 181%;
}

#payment {
	display: flex;
	justify-content: space-around;
}

#payment input {
	margin: 5px 0;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 88%;
}

#left {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#big {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#buttonDiv {
	width: 20%;
}

td {
    text-align: center;
    width: fit-content;
    background-color: white;
    color: black;
    height: 2.5em;
}
th{
    height: 3em;
    background-color: darkblue;
    color:white;
}

table {
    height: 3em;
    font-size: 18px;
    align-items: center;
    background-color: wheat;
    width: 97%;
    margin-top: 20px;
    margin-left: 1.5%;

}
/* #mainTable {
	    width: 97%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 1.5%;
}

#mainTable th, #mainTable td {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
	background-color: #f8f8f8; Light gray background color for cells
}

#mainTable th {
	background-color: #e0e0e0;
	Lighter gray background color for headers
	font-weight: bold;
}

#mainTable tr:nth-child(even) {
	background-color: #f0f0f0; Even row background color
}

#mainTable td input {
	border: none;
	text-align: center;
	width: 100%;
	padding: 0;
	background-color: transparent;
	outline: none;
	font-size: 14px;
} */

#h1 {
	display:flex;
	justify-content:center;

}

#add_button {
	width: 45px;
	height: 36px;
	margin-top: 29px;
	font-size: 30px;
	font-weight: bold;
	background-color: lightblue;
	color:black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
#user_add_button{
	width: 45px;
	height: 36px;
	margin-top: 29px;
	font-size: 30px;
	font-weight: bold;
	background-color: lightblue;
	color:black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-right:0;
	margin-left: 30%;

}
#button_div{
	display:flex;
	justify-content:space-between;
	    width: 33%;
}

#add_button:hover{
	background-color: darkblue;
	color:white;
}
#mark_back, h3 {
	margin-left: 45%;
	text-decoration: none;
	color: black;
}

#product_name {
	width: 116%;
	margin-right: 38px;
}
.btn_back {
	width: 230px;
	height: 50px;
	font-size: 18px;
	border: none;
	border-radius: 50px;
	outline: none;
	font-weight: bolder;
	cursor: pointer;
	background:  lightblue;
	color: black;
}
.main{
display: flex;
	justify-content: center;
}

